# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp/
.pnp.js

# iOS
ios/build/
ios/Pods/

# Android
android/build/
android/.gradle/
android/app/build/
android/app/.cxx/
android/app/src/debug/